{% extends "/base/templates/t-example" %}
{% block content %}
    {{ e_cta(type='primary', text='Primary CTA') }}
    {{ e_cta(type='secondary', text='Secondary CTA') }}
    {{ e_cta(type='tertiary', text='Tertiary CTA') }}
{% endblock %}
