
/**
 * Base Colors
 */
$color-black-b1: #000000;

$color-white-w1: #FFFFFF;
$color-white-w2: #FAFAFA;

$color-anthracite-a1: #333332;
$color-anthracite-a2: #454543;
$color-anthracite-a3: #4E4F4C;
$color-anthracite-a4: #5F605B;
$color-anthracite-a5: #737371;
$color-anthracite-a6: #A0A09F;
$color-anthracite-a7: #ECECEC;
$color-anthracite-a8: #DADADA;
$color-anthracite-a9: #666762;
$color-anthracite-a10: #C4C4C4;

$color-red-r1: #AF0000;
