{% extends "/base/templates/t-bare" %}
{% block content %}
    {{ m_teaser(type='hero', model='m-teaser/default') }}
    {{ e_headline(text='All Contents') }}
    {{ g_teaserlist(model='g-teaserlist/default') }}
{% endblock %}
