{% extends "/base/templates/t-example" %}
{% block content %}
    {{ e_headline(text='Das ist eine Headline h1', level=1) }}
    {{ e_headline(text='Das ist eine Headline h2', level=2) }}
    {{ e_headline(text='Das ist eine Headline h3', level=3) }}
    {{ e_headline(text='Das ist eine Headline h4', level=4) }}
    {{ e_headline(text='Das ist eine Headline h5', level=5) }}
{% endblock %}
